@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?dqfcvn');
  src:  url('./fonts/icomoon.eot?dqfcvn#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?dqfcvn') format('truetype'),
    url('./fonts/icomoon.woff?dqfcvn') format('woff'),
    url('./fonts/icomoon.svg?dqfcvn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e901";
}
.icon-arrow-turn-left-down:before {
  content: "\e902";
  color: #455573;
}
.icon-assign-user:before {
  content: "\e903";
  color: #5f5f5f;
}
.icon-bell-icon .path1:before {
  content: "\e904";
  color: rgb(50, 71, 92);
  opacity: 0.87;
}
.icon-bell-icon .path2:before {
  content: "\e905";
  margin-left: -1.2001953125em;
  color: rgb(255, 255, 255);
}
.icon-bell-icon .path3:before {
  content: "\e906";
  margin-left: -1.2001953125em;
  color: rgb(255, 62, 29);
}
.icon-categories-icon:before {
  content: "\e907";

}
.icon-dashboard:before {
  content: "\e908";
}
.icon-edit-icon:before {
  content: "\e909";
}
.icon-email-icon:before {
  content: "\e90a";
  color: #080341;
}
.icon-emp-id-icon:before {
  content: "\e90b";
}
.icon-employees:before {
  content: "\e90c";
}
.icon-export-icon:before {
  content: "\e90d";
  color: #8592a3;
}
.icon-half-moon:before {
  content: "\e90e";
  color: #32475c;
}
.icon-location-icon:before {
  content: "\e90f";
}
.icon-right-arrow:before {
  content: "\e910";
  color: #4c4c4c;
}
.icon-roles:before {
  content: "\e911";
  color: #5f5f5f;
}
.icon-table-add:before {
  content: "\e912";
}
.icon-team-icon:before {
  content: "\e913";
}


.icon-TezoLogo .path1:before {
  content: "\e914";
  color: rgb(244, 72, 72)!important;
}
.icon-TezoLogo .path2:before {
  content: "\e915";
  margin-left: -3.625em;
  color: rgb(77, 77, 77);
}
.icon-TezoLogo .path3:before {
  content: "\e916";
  margin-left: -3.625em;
  color: rgb(77, 77, 77);
}
.icon-TezoLogo .path4:before {
  content: "\e917";
  margin-left: -3.625em;
  color: rgb(77, 77, 77);
}
.icon-TezoLogo .path5:before {
  content: "\e918";
  margin-left: -3.625em;
  color: rgb(77, 77, 77);
}
.icon-translate-icon:before {
  content: "\e919";
  color: #32475c;
}

.icon-filter:before {
  content: "\e900";
  color: #f44848;
}
